@import url(http://fonts.googleapis.com/css?family=Cabin:600);
body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
}

header {
  width: 100%;
  padding: 160px 0;

  background: url(../img/mthood.jpg) no-repeat -834px -110px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-bottom: 1px solid #e1e1e1;
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;

  z-index: 9999;
  top: 0;
  text-align: center;
}

h1, h2, h3 { font-family: 'Cabin', sans-serif; }

header h1 {
  font-family: 'Cabin', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-indent: 40px;
  font-weight: bold;
}

.left-off-canvas-toggle .menu {
  float: left;
  display: block;
  position: fixed;
  margin: 3.5rem 2.5rem;
  z-index:1000;
  color: white;
}

.move-left .exit-off-canvas {
  box-shadow: none;
}

.move-left > .inner-wrap {
  transform: translate3d(-35%, 0, 0); }

.top-bar,
.middle-bar,
.bottom-bar {
  display: block;
  width: 40px;
  height: 10px;
  background-color: #FFF;
  margin-bottom: 4px;
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0; }

.top-bar, .bottom-bar {
  transform-origin: 100% 50%; }

.middle-bar {
  transition-property: opacity;
  transition-duration: 0.6s; }

.top-bar-close {
  transform: rotate(-45deg);
  background-color: #FFF; }

.middle-bar-close {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s; }

.bottom-bar-close {
  transform: rotate(45deg);
  background-color: #FFF;
}
.left-off-canvas-menu {
  background-color: #eee;
  box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);

}
.left-off-canvas-menu #filter-form {
  width: 200px;
  padding: 1em;
}

.left-off-canvas-menu #filter-form label{
  clear: both;
  display: block;
}

.main-section {
  height:99vh;
  overflow-y: scroll;
}

#mazama_climb_load {  list-style: none; margin-left: 0rem;}
.climb_panel { padding-bottom: 15px;}
#sort-form {  margin-top: 1em;}

.bordered_block { border-bottom: 1px solid #d8d8d8; padding-bottom: 12px;}

.label_tag {
  position: relative;
  top: 15px;
  right: -20px;
  width: 110px;
  float: right;
}

.label_tag span {  width: 100%; }

.panel h6 { font-size: .95rem; margin-bottom:.35rem; color: #999; }

h5 > .label {  font-size: 1.25rem; }

small { font-size: 80%; color: #999; }
