@import url(http://fonts.googleapis.com/css?family=Cabin:600);
form h6 { font-size: 85%; margin-bottom: .35em;  }
/* Loading Modal style */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     99vh;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url('../img/ajax-loader.gif') center bottom 50px no-repeat;
    padding: 10% 20%;
    text-align: center;
}
.modal h3 {
    color: #333;
}
body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

/* Page style */
body {
  background: #E1E2E5;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
}

header {
  width: 100%;
  padding: 140px 0;

  background: url(../img/lousy_lake2.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-bottom: 1px solid #e1e1e1;
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;

  z-index: 9999;
  top: 0;
  text-align: center;
}

h1, h2, h3 { font-family: 'Cabin', sans-serif; }

header h1 {
  font-family: 'Cabin', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-indent: 40px;
  font-weight: bold;
  /* Fallback for web browsers that don't support RGBa */
   background-color: rgb(0, 0, 0);
   /* RGBa with 0.6 opacity */
   background-color: rgba(0, 0, 0, 0.4);
   /* For IE 5.5 - 7*/
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
   /* For IE 8*/
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.left-off-canvas-toggle .menu {
  float: left;
  display: block;
  position: fixed;
  margin: 2.5rem;
  z-index:1000;
  color: white;
}
.menu h5 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2px 0px;
  font-size: 13px;
  text-shadow: 1px 1px 5px #43AC6A;

}
.off-canvas-wrap.move-right .menu h5 {
  text-shadow: 1px 1px 5px #f04124;
}
.move-left .exit-off-canvas {
  box-shadow: none;
}

.move-left > .inner-wrap {
  transform: translate3d(-35%, 0, 0); }

.top-bar,
.middle-bar,
.bottom-bar {
  display: block;
  width: 40px;
  height: 10px;
  background-color: #FFF;
  margin-bottom: 4px;
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0;
  border: 1px solid #43AC6A;
}

.top-bar, .bottom-bar {
  transform-origin: 100% 50%; }

.middle-bar {
  transition-property: opacity;
  transition-duration: 0.6s; }

.top-bar-close {
  transform: rotate(-45deg);
  background-color: #FFF;
  border: 1px solid #f04124;
  margin-left: -5px;
}

.middle-bar-close {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  border: 1px solid #f04124;
}

.bottom-bar-close {
  transform: rotate(45deg);
  background-color: #FFF;
  border: 1px solid #f04124;
  margin-left: -5px;
}
.left-off-canvas-menu {
  background-color: #eee;
  box-shadow: -4px 0 4px rgba(0,0,0,.5),4px 0 4px rgba(0,0,0,.5);

}
.left-off-canvas-menu #filter-form {
  width: 200px;
  padding: 1em;
}

.left-off-canvas-menu #filter-form select {
  margin-bottom: 0px;
  height: auto;
  width: 181px;
}
.left-off-canvas-menu #filter-form input[type="text"] {
  margin-bottom: 0px;
}
.left-off-canvas-menu #filter-form hr {
  margin: .65em 0em;
}
.left-off-canvas-menu #filter-form input[type="checkbox"] + label.small {
  text-align: left;
}
.climb_grades_checkbox_wrapper div, .climb_restrictions_checkbox_wrapper div {
  width: 31%;
  float: left;
}
.climb_emphasis_checkbox_wrapper div {
  width: 48%;
  float: left;
}
.main-section {
  height:99vh;
  overflow-y: scroll;
}

#mazama_climb_load {  list-style: none; margin-left: 0rem;}
.climb_panel { padding-bottom: 15px; position: relative; }
#sort-form {  margin-top: 1em;}

.bordered_block { border-bottom: 1px solid #d8d8d8; padding-bottom: 12px;}

.label_tag {
  position: absolute;
  top: 37px;
  right: 0px;
  width: 110px;
  float: right;
}

.label_tag span {  width: 100%; }

.panel h6 { font-size: .95rem; margin-bottom:.35rem; color: #999; }

h5 > .label {  font-size: 1.25rem; }

small { font-size: 80%; color: #999; }

.small-float {
  width: 50%;
  float: right;
}

.small-float:last-child { padding-right: .9375rem; }
.small-float:first-child { padding-left: .9375rem; }

@media only screen and (min-width: 40.0625em) {
  .small-float, .small-float:first-child, .small-float:last-child{ width: 100%; float: left; padding: 0px; padding-right: 0rem; padding-left: 0rem; }
}

.postfix, .prefix {
  width: auto;
}
